/MyBasicControls/dist
/MyCompositeControls/dist
/MyEffects/dist
/MyLayouts/dist
/MyBasicControls/build
/MyCompositeControls/build
/MyEffects/build
/MyLayouts/build
/MyPropertiesBindings/build
/beautiful-taskbar/nbactions.xml
/beautiful-taskbar/nb-configuration.xml
/beautiful-taskbar/target
