/MyBasicControls/dist
/MyCompositeControls/dist
/MyEffects/dist
/MyLayouts/dist
/MyBasicControls/build
/MyCompositeControls/build
/MyEffects/build
/MyLayouts/build
/MyPropertiesBindings/build
/beautiful-taskbar/nbactions.xml
/beautiful-taskbar/nb-configuration.xml
/beautiful-taskbar/target
/FX/MyLayouts/dist/
/FX/MyLayouts/build/
/DesignLoginScreen/target
/GluonMobile/backend/backend-api/cache
/GluonMobile/backend/backend-api/log.txt
/GluonMobile/backend/backend-api/target
/GluonMobile/backend/backend-api/dependency-reduced-pom.xml
/GluonMobile/backend/backend-api-web/target
/GluonMobile/backend/backend-api-web/nb-configuration.xml
/GluonMobile/FirstScreen/FirstScreenApp/build
/GluonMobile/FirstScreen/.nb-gradle
/GluonMobile/FirstScreen/.gradle
/hello-fx/target
/hello-fx/.idea
/hello-fx/hello-fx.iml
/fx-chat-app/.idea
/nice-screen/target
/nice-screen/.idea
/beautiful-taskbar/.idea
/beautiful-taskbar/beautiful-taskbar.iml
/FX/MyBasicControls/build/
/FX/MyBasicControls/dist/
/denis-fx/denis-fx-dark-login/.idea
/denis-fx/denis-fx-dark-login/denis-fx-dark-login.iml
/denis-fx/denis-fx-dark-login/nb-configuration.xml
/denis-fx/denis-fx-dark-login/nbactions.xml
/denis-fx/denis-fx-portrait-login/.idea
/denis-fx/denis-fx-portrait-login/denis-fx-portrait-login.iml
/denis-fx/denis-fx-portrait-login/nbactions.xml
/denis-fx/denis-fx-portrait-login/nb-configuration.xml
/denis-fx/denis-fx-signup-screen/.idea
/denis-fx/denis-fx-signup-screen/denis-fx-signup-screen.iml
/denis-fx/denis-fx-signup-screen/nbactions.xml
/denis-fx/denis-fx-signup-screen/nb-configuration.xml
/denis-fx/denis-fx-simple-login/.idea
/denis-fx/denis-fx-simple-login/nb-configuration.xml
/denis-fx/denis-fx-simple-login/denis-fx-simple-login.iml
/denis-fx/denis-fx-simple-login/nbactions.xml
/denis-fx/denis-fx-slider-login/denis-fx-slider-login.iml
/denis-fx/denis-fx-slider-login/.idea
/denis-fx/denis-fx-slider-login/nbactions.xml
/denis-fx/denis-fx-slider-login/nb-configuration.xml
/denis-fx/denis-fx-vidoe-login/.idea
/denis-fx/denis-fx-vidoe-login/denis-fx-vidoe-login.iml
/denis-fx/denis-fx-vidoe-login/nbactions.xml
/denis-fx/denis-fx-vidoe-login/nb-configuration.xml
